---
---

<section class="section_references">
  <div class="linear-grandient-1"></div>
  <div class="content_references">
    <h3 class="title-references" id="references">Referencias</h3>
    <!-- <div class="container-text"> -->
     <div class="container-references">
      <div class="reference-references">
        <p class="p-references">
          "Boris joined my startup - OurCards - roughly 6 months after our MVP was launched.
          He quickly got up to speed with the code base and was very able to use NodeJS, Python and javascript to troubleshoot issues, seamlessly deploy new functionality and provide strategic input into how the system should operate.
          Boris excelled at learning new technology and using it to deliver valuable application functionality. Examples included AWS Rekognition in automating photo enhancements and using MailChimp's API to automate email campaigns, which increased OurCards sales 40%.
          With a positive attitude and boundless energy, Boris was an invaluable asset to our team; I recommend him wholeheartedly!"
        </p>
        <p class="author-references">
          Timothy Crowley - PMP Ourcards Founder
        </p>
      </div>
      <div class="reference-references">
        <p class="p-references">
          "Boris es un profesional muy talentoso. Cuando llegó a la empresa no era un experto en desarrollo pero rápidamente pudo adaptarse a la eficiencia en el trabajo y a las nuevas tecnologías que por necesidad le poníamos delante.
          Creo que tiene un gran talento que aprovechar en el futuro."
        </p>
        <p class="author-references">
          Kevin Campo - FullTimeforce CEO & Founder
        </p>
      </div>
      
    </div>
  </div>
</section>

<style>
  a {
    color: inherit;
  }
  .section_references {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #111111;
    justify-content: center;
    align-items: center;
  }
  .linear-grandient-1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: radial-gradient(at left center, rgba(1, 190, 150 , 0.5), transparent , transparent); */
    background: linear-gradient(to top, rgba(1, 70, 190, 0.5), #000);
    background: ;
    z-index: 0;
  }
  .content_references {
    position: relative;
    z-index: 1;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 20px 0;
    max-width: 1355px;
  }
  .title-references {
    font-size: 27px;
    color: #f6f6f9;
    text-align: left;
    width: 100%;
    font-weight: 800;
    scroll-margin-top: 80px;
    padding: 20px 0;
  }
  .experience-node {
    font-size: 20px;
  }
  .ul-experience {
    padding: 30px 10px;
    display: flex;
    flex-direction: row;
    /* width: 50%; */
  }
  .li-experience {
    padding: 0px 20px;
    color: #f6f6f9;
    border-left: 1px solid #f6f6f9;
    list-style: none;
    position: relative;
    padding-bottom: 50px;
  }
  .circle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: -5px;
    top: 5px;
    background-color: #f6f6f9;
  }
  .li-experience h3 {
    padding-bottom: 5px;
    font-weight: 200;
  }
  .li-experience p {
    padding: 5px 0;
  }
  .li-experience span {
    font-size: 13px;
  }
  .p-references {
    padding: 12px 0;
    font-size: 19px;
    width: 90%;
    text-align: left;
    color: white;
    font-style: italic;

  }
  .author-references{
    padding: 12px 0;
    font-size: 19px;
    width: 90%;
    color: white;
    font-style: italic;
    text-align: right;
  }
  @media (max-width: 640px) {
    .p-references {
      width: 100%;
    }
  }
  .container-references{
    display: flex;
  }
  .reference-references{
    width: 50%;
  }
</style>
